#contact-body{
    padding:1em 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:    "bg head ."
                            "bg card .";
    background-color: #3484d9;
}
#contact-body>img{
    grid-area: bg;
    z-index: 0;
    width: 100%;
}
#heading{
    grid-area:head;
    text-align: center;
    place-self: center;
}
#heading h1{
    font-family: gotham-medium;
    color: white;
    text-transform: uppercase;
    font-size: 5vw;
}
#heading h2{
    font-family: gotham-light;
    text-transform: uppercase;
    color: white;
    font-size: 3vw;
}
#card{
    background-color: #f3f3f3;
    grid-area: card;
    border: 0 solid transparent;
    border-radius: 25px;
    height: fit-content;
    width: 35vw;
    display: grid;
    padding: 1.5em 0;
    grid-template-column: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "email id"
                            "phone number";
    -webkit-box-shadow: 0px 7px 0px 0px rgba(204,204,204,0.35);
    -moz-box-shadow: 0px 7px 0px 0px rgba(204,204,204,0.35);
    box-shadow: 0px 7px 0px 0px rgba(204,204,204,0.35);
}
#email-logo{
    grid-area: email;
    width: 5vw;
    place-self: center;
}
#email-id{
    grid-area: id;
    place-self: center left;
    font-family: gotham-medium;
    color: #3484d9;
    font-size: 2vw;
}
#phone-logo{
    grid-area: phone;
    width: 3vw;
    place-self: center;
}
#phone-number{
    grid-area: number;
    place-self: center left;
    font-family: gotham-medium;
    color: #3484d9;
    font-size: 2vw;
}
footer{
    position: absolute;
    bot:0;
    width: 100vw;
    background-color: #f3f3f3;
    padding: 2em 0;
}
#footer-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
}
footer .social{
    grid-column: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;

}
.social ul{
    /*background-color: crimson;*/
    list-style: none;
    padding: 0;
    display: flex;
    place-self: center;
    margin:0;

}
.social li{
    padding: 0 0.5em;
}
footer p{
    text-align: center;
    padding: 0;
    margin: 0;
    color: #3484d9;
    grid-column: 2/3;
    font-family: gotham-light;
    place-self: center;
}
footer #ft-links{
    grid-column: 3;
    justify-items: end;
    padding-right: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*background-color: orange;*/
}
#ft-links ul{
    grid-column: 2/3;
    place-self: center left;
    list-style: none;
    margin:0;
}
#ft-links li{
padding: 0;

}
#ft-links a{
    text-decoration: none;
    color: black;
}