@font-face {
    font-family: 'PenumbraFlareStd';
    src: url("fonts/PenumbraFlareStd-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: 'PenumbraSansStd';
    src: url("fonts/PenumbraSansStd-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: 'PenumbraSansStd';
    src: url("fonts/PenumbraSansStd-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: 'PenumbraSansStd';
    src: url("fonts/PenumbraSansStd-Semibold.otf");
    font-weight: 600;
}
