@font-face{
    font-family: 'boing';
    src: url("fonts/Boing/Boing/Boing-Medium.otf");
    font-style: normal;
    font-weight: 100;
}
@font-face{
    font-family: 'boing-regular';
    src: url("fonts/Boing/Boing/Boing-Regular.otf");
    font-style: normal;
    font-weight: 100;
}
