body, html{
    font-family: boing;
}
nav.navbar{
    background-color: white;
}
nav.navbar .nav-cont{
    width: 100vw;
    margin: 0 10vw;
}
nav.navbar li{
    margin: 0 1em;
}
nav.navbar li a{
    color: #3484d9;
}
nav.navbar li:last-child{
    margin-right: 0;
}

.about-text{
    /*margin-top: 1.5em;*/
    font-size: 5vw;
    font-family: boing;
    color: rgb(52, 132, 217);
    line-height: 0.951;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.05);
}
#creative-cont{
    width: fit-content;
}
#talk{
    margin-top: 1em;
    font-size: 1.5vw;
    background-color: #3484d9;
    color: white;
    border-radius: 30px;
    border: 0px solid transparent;
    width: 10em;
    white-space: nowrap;
}
.image{
    margin:0;
    padding: 0;
}
.services-intro{
    max-width: 100px;
    font-family: boing-regular;
    margin: 5em 0;
}
.services-intro h2{
    font-size: 40px;
    width: 700px;
    color:#3484d9;
}
.service{
    font-family: boing;
}
.service-row{
    margin: 3em 0;
}
.service h2{
    font-family: boing-bold;
    color: #3484d9;
    font-weight: 500;

}
.service p{
    font-family: boing-regular;
    line-height: 100%;
    font-size: 25px;
    font-weight: 500;
}
/*.service:hover{*/
    /*-webkit-box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);*/
    /*box-shadow: 0px 0px 12px -6px rgba(0,0,0,0.75);*/

/*}*/