body, html {
    /*padding-top: 65px;*/
    overflow-x: hidden;
}

p {
    font-family: gotham-light;
}
#allrnd-logo img {
    height: 45px;
}

nav.navbar {
    background-color: white;
}

nav.navbar .nav-cont {
    width: 100vw;
    margin: 0 10vw;
}

nav.navbar li {
    margin: 0 1em;
}

nav.navbar li a {
    color: #3484d9;
    background-image: linear-gradient(#3484d9, #3484d9);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .2s ease-out;
    font-size: 18px;
}
nav.navbar li a:hover {
    background-size: 100% 3px, auto;
    transform: scale(1.08);
}


nav.navbar li:last-child {
    margin-right: 0;
}

#intro-section {
    background-color: #f3f3f3;
}

#intro-cont img {
    width: 40vw;
    height: 100%;
}

.about-text {
    /*margin-top: 1.5em;*/
    font-size: 5vw;
    font-family: gotham-medium;
    color: rgb(52, 132, 217);
    line-height: 0.951;
    text-shadow: 2px 5px 0px rgba(0, 0, 0, 0.05);
}

#creative-mobileh1 {
    display: none;
}

#creative-cont {
    width: fit-content;
}

#talk {
    margin-top: 1em;
    font-size: 1.5vw;
    background-color: #3484d9;
    color: white;
    border-radius: 30px;
    border: 0px solid transparent;
    width: 10em;
    white-space: nowrap;
    transition: all 0.2s ease-out;
}
#talk:hover{
    transform: scale(1.05);
    box-shadow: 3px 7px 6px 2px rgba(0, 0, 0, 0.15);
}

.image {
    margin: 0;
    padding: 0;
}
#about-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:    "head ."
    "para sticker";
}
#about-bg{
    width:60%;
    height: auto;
    grid-column: 1/3;
    grid-row: 1;
}
#about-section h1{
    grid-area: head;
    /*padding: 0 150px;*/
    padding-left: 150px;
    font-family: gotham-medium;
    align-self: end;
    justify-self: left;
    font-size: 70px;
    color: #3484d9;
    line-height: 90%;

}
#about-section p{
    grid-area: para;
    height: fit-content;
    text-align: justify;
    font-size: 22px;
    font-family: gotham-medium;
    padding: 4em 150px 5em 150px;
    color: #3484d9;
}
#sticker{
    grid-area: sticker;
    place-self: center;
    width: 70%;
    height: auto;
}
#section-header{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #3483d8;
    width: 100vw;
}
#section-header img{
    grid-column: 1/3;
    grid-row: 1;
    width: 70%;
    padding-bottom: 2em;
}
#section-header h1{
    grid-column: 1/2;
    grid-row: 1;
    place-self: center;
    font-size: 10vw;
    font-family: gotham-medium;
    padding-left: 2vw;
    color: white;
    text-transform: uppercase;
    margin: 0;
}
.services-intro {
    max-width: 100px;
    font-family: gotham-book;
    margin: 5em 0;
}

.services-intro h2 {
    font-size: 40px;
    width: 700px;
    color: #ffffff;
}

.service {
    font-family: gotham-medium;
    padding: 1em;
    transition: all 300ms ease-in-out;

}

.service:hover {
    transform: scale(1.03);
    background-color: #f4f4f4;
    border-radius: 15px;
    -webkit-box-shadow: 0px 13px 7px -7px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 13px 7px -7px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 13px 7px -7px rgba(0, 0, 0, 0.12);

}
.service-row {
    margin: 3em 0;
}

.service h2 {
    font-family: gotham-medium;
    color: #3484d9;
    font-weight: 500;
}

.service img {
    width: 200px;
}

.service p {
    margin-top: 1em;
    line-height: 100%;
    font-size: 25px;
    font-weight: 500;
}

#work {
    padding: 1em 0;
    background-image: url("images/templates/portfolio-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#work img{
    height: 500px;
    width: auto;
}
#work-content{
    position: absolute;
}
#work-content h1{
    font-size: 120px;
    font-family: gotham-medium;
    color: #3484d9;
}
#work-content a{
    background-color: white;
    font-family: gotham-light;
    color: #3484d9;
    border: 1px solid #3484d9;
    border-radius: 30px;
    padding: 0.5em 1em;
    font-size: 25px;
    transition: all 0.2s ease-in;
}
#work-content a:hover{
    transform: scale(1.05);
    box-shadow: 3px 7px 6px 2px rgba(0, 0, 0, 0.15);
}
