@media only screen and (max-width: 1650px){
    #video-list{
        grid-template-columns: repeat(3, 1fr);
    }
    #video-list iframe{
        height: 16.5vw;
    }
}
@media only screen and (max-width: 1200px){
    #work img{
        height: 400px;
    }
    #work-content h1 {
        font-size: 96px;
    }
    #work-content a{
        font-size: 20px;
        padding: 0.4em 0.8em;
    }
    #about-section{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #about-bg{
        grid-column: 1;
        width: 90vw;
    }
    #sticker{
        grid-column: 1;
        grid-row: 3;
        width: 30vw;
        place-self: center;
    }
    #video-list{
        grid-template-columns: repeat(2, 1fr);
    }
    #video-list iframe{
        height: 25vw;
    }
}

@media only screen and (max-width: 1000px){

    nav.navbar button{
        padding: 0;
        width: fit-content;
    }
    #work img{
        height: 300px;
    }
    #work-content h1 {
        font-size: 96px;
    }
    #work-content a{
        font-size: 20px;
        padding: 0.4em 0.8em;
    }
    #portfolio-menu a{
        font-size: 2.5vw;
    }
}
@media only screen and (max-width: 900px){
    #about-section h1{
        font-size: 8vw;
        place-self: center;
        padding: 0;
    }
    #about-section p{
        font-size: 3vw;
    }
}
@media only screen and (max-width: 850px){
    #work-content h1 {
        font-size: 72px;
    }
    #work-content a{
        font-size: 18px;
        padding: 0.4em 0.8em;
    }
}
@media only screen and (max-width:700px){
    #work img{
        height: 200px;
    }
    #work-content h1 {
        font-size: 50px;
    }
    #work-content a{
        font-size: 15px;
        padding: 0.4em 0.8em;
    }
    #about-section p{
        padding: 2em 2em;
    }
    #sticker{
        padding: 0 0 2em 0;
    }
    #posters{
        grid-gap: 10px;
        padding: 10px;
    }
    #video-list{
        grid-template-columns: repeat(1, 1fr);
    }
    #video-list iframe{
        height: 50vw;
    }
    #team-header h1{
        font-size: 10vw;
    }
    .team-picture{
        width: 150px;
    }
    #team-members h3{
        font-size: 4vw;

    }
}
@media only screen and (max-width: 500px) {

    nav.navbar li:last-child {
        margin: 0;
    }

    #allrnd-logo img {
        height: 10vw;
    }

    body {
        /*padding-top: 30px;*/
        width: 100vw;
        overflow-x: hidden;
    }

    #creative-mobileh1 {
        display: block;
        text-align: center;
        white-space: nowrap;
    }

    #creative-desktoph1 {
        display: none;
    }

    #creative-cont {
        padding: 1.5em 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #intro-cont {
        flex-direction: column-reverse;
    }

    #intro-cont img {
        width: 100vw;
        height: 100%;
    }

    #intro-section h1 {
        font-size: 22px;

    }

    #intro-section a {
        font-size: 15px;
    }
    #about-section h1 {
        padding-top: 1em;
        line-height: 100%;
    }

    #about-section p {
        font-size: 18px;
        text-align: center;
        line-height: 100%;
        min-width: 80vw;
    }

    #service-header h2 {
        font-size: 20px;
    }

    .service h2 {
        font-size: 25px;
    }

    .service img {
        width: 100px;
    }

    .service p {
        font-size: 18px;
    }
    #work img{
        height: 175px;
    }
    #work-content h1 {
        font-size: 40px;
    }
    #work-content a{
        font-size: 12px;
        padding: 0.4em 0.8em;
    }
    #portfolio-main{
        padding-top: 15vw;
    }

    #portfolio-header h1{
        font-size: 2.5em;
    }
    #portfolio-menu{
        grid-template-columns: 1fr;
    }
    #portfolio-menu a{
        font-size: 3.5vw;
    }
    #portfolio-menu ul{
        grid-column: 1;
    }
    #posters{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        padding: 5px;
    }
    #image-fs{
        width: 100vw;
        height: auto;
    }
    #close{
        display: none;
    }
    /*team css*/
    #team-main{
        padding-top: 16vw;
    }
    #members>li{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
    }
    #members h3{
        font-size: 20px;
    }
    #members p{
        font-size: 16px;
    }
    .team-picture{
        width: 125px;
        padding: 10px 0;
    }
    .team-social{
        justify-content: center;
    }
    footer{
        padding: 0;
    }
    #footer-content{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }
    footer .social{
        grid-column: 1/2;
        grid-row: 1/2;
        place-self: center;
        padding: 0;
        grid-template-columns: 1fr;
    }
    #footer-content p{
        grid-column: 1/2;
        grid-row: 3/4;
        place-self: center;
    }
    #footer-content #ft-links{
        grid-column: 1/2;
        grid-row: 2/3;
        place-self: center;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0;
    }
    #ft-links ul{
        padding: 0;
    }
}
@media only screen and (max-width: 405px) {
    nav.navbar button img{
        width: 6vw;
    }
    #work img{
        height: 175px;
    }
    #work-content h1 {
        font-size: 35px;
    }
    #work-content a{
        font-size: 12px;
        padding: 0.4em 0.8em;
    }
}

@media only screen and (max-width: 370px) {
    #intro-section h1 {
        font-size: 20px;
    }

    #service-header h2 {
        font-size: 18px;
    }

}

@media only screen and (max-width: 360px) {
    #intro-section h1 {
        font-size: 20px;
    }



    #about-section p {
        font-size: 16px;
    }

    #service-header h2 {
        font-size: 16px;
    }

    #work img{
        height: 110px;
    }
}

@media only screen and (max-width: 335px) {
    #intro-section h1{
        font-size: 18px;
    }
    #service-header h2 {
        font-size: 16px;
    }

    #service-header img {
        width: 180px;
    }

    #services-list h2 {
        font-size: 20px;
    }

    #services-list p {
        font-size: 16px;
    }
    #team-main{
        padding-top: 18vw;
    }
}