#bg-fs {
    display: none;
    place-content: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index:1;
}
.fs{
    display: grid;
    place-self: center;
    grid-template-rows: 6fr 1fr;
    height: 90%;
    /*width: auto;*/
}
#image-fs{
    place-self: center;
    height: 80vh;
    grid-row: 1/2;
    margin-bottom:1em;
}
#close{
    grid-row: 2/3;
    width: 100px;
    height: fit-content;

    border: 3px white solid;
    border-radius: 15px;
    background: linear-gradient(to bottom, grey, darkgrey );
    place-self: center;
    color: white;
}